body {
    @apply bg-orange-200 p-0 m-0;

    font-family: 'raleway-regular', sans-serif;
}

.sequence-board {
    @apply p-4 bg-amber-100 mx-auto;

    max-width: 1000px;

    .controls {
        @apply flex justify-between items-center mb-4;

        button {
            @apply bg-amber-200 p-2 rounded;

            &:hover {
                @apply bg-amber-300;
            }
        }
    }

    .note-sequence {
        @apply flex justify-center py-2;

        .note {
            @apply py-4 px-1 flex-1 text-center rounded-lg border-4 border-solid border-sky-200 mx-2 select-none cursor-pointer;

            transition: all 0.2s ease-in-out;

            &:hover,
            &.active {
                @apply bg-sky-200;
            }
        }
    }
}